<div class='col-md-5 col-sm-12'>
  <div class='gallery'>
    @images.each do |image|
    <div class='col-md-4 gallery-mural'>
      link to images
      iterate through images
      <div class='galleryImg #{image.id}'></div>
    </div>
  </div>
</div>

{{outlet}}
